@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  --cursor-color: #333
}

html.dark-mode {
  --cursor-color: #fff
}

.darkAnimation {
  background: radial-gradient(
    circle,
    rgba(23, 126, 200, 0.3) 0%,
    rgba(40, 59, 181, 0.12) 60%
  );
  background-size: 120% 250%;
  animation: gradient 20s ease infinite;
  backdrop-filter: blur(8px);
}

.lightAnimation {
  background: radial-gradient(
    circle,
    rgba(23, 126, 200, 0.09) 0%,
    rgba(40, 59, 181, 0.06) 60%
  );
  background-size: 150% 150%;
  animation: gradient 20s ease infinite;
  backdrop-filter: blur(8px);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 150%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.text-right{
  text-align: right;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
